<div class="container-fluid">  
  <div class="navbax">
    <div class="row">
      <div class="col-sm">
        <a class="nav-item nav-link dropbutton" routerLink="/home" routerLinkActive="active" >Home <span class="sr-only">(current)</span></a>
      </div>
      <div class="col-sm">
        <a class="nav-item nav-link dropbutton" routerLink="/activity" routerLinkActive="active" >activity tracker <span class="sr-only">(current)</span></a>
      </div>
      <div class="col-sm">
        <a class="nav-item nav-link" routerLink="/home" routerLinkActive="active" >Home <span class="sr-only">(current)</span></a>
      </div>
    </div>
  </div>
</div>