<div class="container-fluid bk">  
  <div class="navbax bk">
    <div class="row bk">
      <div class="col-sm">
        <a class="nav-item nav-link dropbutton" routerLink="/home" routerLinkActive="active" >Home <span class="sr-only">(current)</span></a>
      </div>
      <div class="col-sm">
        <a class="nav-item nav-link dropbutton" routerLink="/activity" routerLinkActive="active" >Activity tracker <span class="sr-only">(current)</span></a>
      </div>
      <div class="col-sm">
        <a class="nav-item nav-link dropbutton"  routerLinkActive="disabled" >About <span class="sr-only">(current)</span></a>
      </div>
    </div>
  </div>
</div>