
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

     
          

     
        <div class="container-fluid" >
                <div class="row bk">
                    
                    <div class="col bk">
                    </div>
                    <div class="col" id=signup_box >
                        <input type="email" class="form-control"  aria-describedby="emailHelp" placeholder="sign me up!">
                        <div class="btn-primary center-button">  Sign me up! <div>            
                    </div>
                </div>
            </div>
        </div>
        </div>
        <h3 class="h">exercise with us</h3>
            <div class="container-fluid">
                    <div class="jumbotron">
                       
                        <img id="front-image" class="img-rounded" [src]="fullImagePath">
                     

                    </div>
                </div>
          
  