
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

     
          

     
        <div class="container" >
                <div class="row">
                    
                    <div class="col">
                    </div>
                    <div class="col" id=signup_box >
                        <input type="email" class="form-control"  aria-describedby="emailHelp" placeholder="Enter email">
                        <div class="btn-primary center-button">  Sign me up! <div>            
                    </div>
                </div>
            </div>
        </div>
        </div>
               
            <div class="container-fluid">
                    <div class="jumbotron">
                        <h3>exercise with us</h3>
                        <img id="front-image" class="img-rounded" [src]="fullImagePath">
                        <p>more info</p>

                    </div>
                </div>
          
  